<form action="/sign-in" method="POST">
  <div class="form-group">
    <label for="name">User Name</label>
    <input type="text" name="name" placeholder="ユーザー名">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="パスワード">
  </div>
  <button type="submit">Login</button>
</form>