<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/stylesheets/style.css">
  <title>
    <%= title %>
  </title>
</head>
<body>
  <header>
    <nav>
      <p class="nav-name">Laravel</p>
      <% if (!isValidUser) { %>
        <ul class="nav-switch">
          <li><a href="/sign-in">Login</a></li>
          <li><a href="/sign-up">Register</a></li>
        </ul>
      <% } else { %>
        <div class="logout">
          <span><%= userName %></span>
          <span>&#9660;</span>
        </div>
      <% } %>
    </nav>
  </header>